*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body
{
  background-color: #5db7e4;
}

input {
  height: 40px;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: #337A9E;
    background-color: #337A9E;
    color: white;
    transition: all 0.3s ease;
}

input:focus {
    border: white;
    outline: none;
    border: white;
}


.header
{
  background-color: #005986;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
.header > h1 
{
  @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
  font-family: 'Wix Madefor Display', sans-serif;
  color: white;
  margin-left: 10px;
}

.header__serach
{
  background-color:#003550;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info {
    @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
    font-family: 'Wix Madefor Display', sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #337A9E;
    color: white;

  }
  
  .weather-info span {
    margin-bottom: 10px;
  }
  
  .weather-info img {
    margin-bottom: 20px;
    max-width: 100px;
  }
.search::placeholder
{
  color: white;
}
.search__button
{
  height: 40px;
  width: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: #337A9E;
  background-color: #337A9E;
  color: white;
}
.background
{
  display: flex;
  justify-content: center;
  align-items: center;
}